<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue vezba</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header id="header">
        <h2>{{imeSajta}}</h2>
    </header>

    <main id="main">
        <div>
            <h1>{{dobrodosli}}</h1>

            <label>Broj pokemona po stranici
                <input v-model="poStranici" v-on:input="azurirajPrikaz">
            </label>
        </div>

        <div class="pokemoni">
            <div v-for="(pokemon, i) in pokemoni" v-if="jelNaTrenutnojStrani(i)">
                <h3>{{pokemon.name}}</h3>
                <img :src="pokemon.imageUrl" :alt="pokemon.name">
            </div>
        </div>

        <div class="paginacija">
            <button v-for="brojStrane in brojStrana()" v-on:click="okreniStranu(brojStrane)">
                {{brojStrane}}
            </button>
        </div>
    </main>

    <footer id="footer">
        {{copyright}}
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="header.js"></script>
    <script src="main.js"></script>
    <script src="footer.js"></script>
</body>

</html>