body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header, footer {
    background: maroon;
    color: white;
}

img {
    max-width: 100%;
}

.pokemoni {
    display: grid;
    grid-template-columns: repeat(auto-fit, 185px);
    grid-column-gap: 20px;
    justify-content: center;
}

main {
    display: grid;
    grid-template-rows: auto 1fr auto;
}